<%= render 'shared/flash_messages' if !flash.empty? %>

<div class="row">
	<div class="col-md-11">
		<div class="row">
			<div class="col-md-3 col-md-offset-5">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Login</h3>
					</div>
					<div class="panel-body">
						<%= form_tag("/login", method: "post") do %>
				  
						  <div class="field form-group">
							<%= label_tag(:email, "E-Mail", class: "sr-only") %>
							<%= text_field_tag :email, "", placeholder: "E-Mail", type: "email", class: "form-control", autofocus: true, required: true %>
						  </div>
						  <div class="field form-group">
							<%= label_tag(:password, "Password", class: "sr-only") %>
							<%= password_field_tag :password, "", placeholder: "Password", class: "form-control", required: true %>
						  </div>
						  <%= submit_tag("Login", class:"btn btn-primary btn-block") %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>