<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><a data-toggle='collapse' href='#new-idea-collapse' >New Idea</a></h3>
			</div>
			<div id="new-idea-collapse" class="panel-collapse collapse">
				<div class="panel-body">
					<%= form_for @idea, url: {controller: "ideas", action: form_action}, method: form_method, class: "col-md-4 col-md-offset-4" do |f|%>
					  <%= f.hidden_field :user_id %>
					  <div class="field form-group">
						<%= f.label :title, "Title", class: "sr-only"  %>
						<%= f.text_field :title, {placeholder: "Title", class: "form-control"} %> 
					  </div>
					  <div class="field form-group">
						<%= f.label :destination, "Destination", class: "sr-only" %>
						<%= f.text_area :destination, {placeholder: "Destination", class: "form-control"} %>
					  </div>
					  <div class="field form-group">
						<%= f.label :start_date, "Start Date", class: "sr-only" %>
						<%= f.date_select :start_date, {placeholder: "Start Date", class: "form-control"} %>
					  </div>
					  <div class="field form-group">
						<%= f.label :password, "end_date", class: "sr-only" %>
						<%= f.date_select :end_date, {placeholder: "End Date", class: "form-control"} %>
					  </div>
					  <div class="field form-group">
						<%= f.label :tags, "Tags", class: "sr-only" %>
						<%= f.text_field :tags, {placeholder: "Tags", class: "form-control"} %>
					  </div>
					  <%= f.submit "New Idea", class:"btn btn-primary btn-block" %>
					<% end %>					
				</div>
			</div>
		</div>
	</div>
</div>
