<div class="row">
	<%= form_for(comment, remote: true, format: 'json', html: {'data-model': 'comment'}) do |f| %>
	<div class="col-md-12">
		<%= f.label :content, "Comment", class: "sr-only"  %>
		<%= f.text_area :content, class: "form-control", placeholder: "Write some comment...", required: true %>
		
		<%= f.hidden_field :user_id, value: session[:user_id] %>
		<%= f.hidden_field :idea_id, value: @idea.id %>
		<div class=" pull-right">
			<%= f.submit "Post", id: "submit_cmment", class: "btn btn-primary btn-xs", "data-disable-with": "Posting" %>
		</div>
	</div>
	<% end %>
</div>