<%= render 'common/flash_messages' if !flash.empty? %>

<div class="alert alert-info alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  Total of <%= @ideas.count %> ideas found.
</div>
<%= render 'new_idea_dialog', idea: @idea, form_action: "create", form_method: "post", collapse: true %>
<div class="row">
	<% @ideas.each do |idea| %>
		<article class="col-md-4">
			<div class="panel panel-default">
				<header class="panel-heading clearfix">
					<%= link_to(idea,class: "panel-link") do %>
					<div class="row">
						<div class="col-md-10">
							<h3 class="panel-title pull-left"><%= idea.title %></h3>
						</div>
						<div class="col-md-2">
							<span class="badge pull-right"><%= idea.comments.count %></span>
						</div>
					</div>
					<% end %>
				</header>
				<div class="panel-body">
					<%= render "common/form_control_static_item", :label => "User", :text => fullusername(idea.user) %>
					<%= render "common/form_control_static_item", :label => "Destination", :text => idea.destination %>
					<%= render "common/form_control_static_item", :label => "Start Date", :text => idea.start_date %>
					<%= render "common/form_control_static_item", :label => "End Date", :text => idea.end_date %>
					<span><%= hash_tag_link(idea.tags) %></span>
				</div>
			</div>			
		</article>
	<% end %>
</div>