<p id="notice"><%= notice %></p>

<div class="row">
	<div class="col-md-6 col-md-offset-2">
		<div class="panel panel-default">
			<div class="panel-body">
				<div>
					<strong><%= @idea.title %></strong>
					<div class="btn-group pull-right">
					<%= link_to '<span class="glyphicon glyphicon-unshare" aria-hidden="true"></span>'.html_safe, {controller: 'ideas', action: 'index'}, {class: "btn btn-default btn-xs", title: "Back"} %>
					<% if @idea.user_id == session[:user_id] %>
						<%= link_to '<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>'.html_safe, edit_idea_path(@idea), {class: "btn btn-default btn-xs", title: "Edit"} %>
						<%= link_to '<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>'.html_safe, @idea, method: :delete, data: { confirm: 'Are you want to delete this record?' }, class: "btn btn-default btn-xs", title: "Delete" %>		
					<% end %>
					</div>
				</div>
				<div>
					<span class="glyphicon glyphicon-calendar text-primary"> </span> <span class="text-muted"><%= @idea.start_date %> to <%= @idea.end_date %></span>
				</div>
				<dl>
					<dt id="destination" data-destination="<%= @idea.destination %>">Destination</dt>
					<dd>
					<img class="staticmap" src="https://maps.googleapis.com/maps/api/staticmap?center=<%= @idea.destination %>&size=380x300&scale=2&language=en&key=AIzaSyBkui4rEH4tZbKWeTTacd9E1PyPxw9FXfM" alt="<%= @idea.destination %>">
					<%= @idea.destination %>
					</dd>
				</dl>
			</div>
			<div class="panel-footer">
				<div id="comment_list">
					<button id="remove_hidden" class="btn btn-link hidden">show more comment</button>
					<%= render 'comments', comments: @idea.comments %>
				</div>
				<%= render 'new_comment', comment: @comment %>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div id="api-container" data-api-url="<%= "http://api.hotwire.com/v1/deal/hotel?dest=#{URI.encode(@idea.destination)}&currency=USD&apikey=cg54gruz8zva5n67p6jnqu8b&limit=5&sort=price&sortorder=desc&format=JSONP" %>">
		</div>
	</div>
</div>