<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @idea.title %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @idea.destination %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @idea.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @idea.end_date %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @idea.tags %>
</p>

<p>
  <strong>User:</strong>
  <%= @idea.user_id %>
</p>

<%= link_to 'Edit', edit_idea_path(@idea) %> |
<%= link_to 'Back', ideas_path %>
