<p id="notice"><%= notice %></p>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="panel panel-default">
			<div class="panel-body">
				<div>
					<strong><%= @idea.title %></strong>
				</div>
				<div>
					<span class="glyphicon glyphicon-calendar text-primary"> </span> <span class="text-muted"><%= @idea.start_date %> to <%= @idea.end_date %></span>
				</div>
				<dl>
					<dt>Destination</dt>
					<dd>
					<img class="staticmap" src="https://maps.googleapis.com/maps/api/staticmap?center=<%= @idea.destination %>&size=380x300&scale=2&language=en&key=AIzaSyBkui4rEH4tZbKWeTTacd9E1PyPxw9FXfM" alt="<%= @idea.destination %>"></img>
					<%= @idea.destination %>
					</dd>
				</dl>
			</div>
			<div class="panel-footer">
				<div id="comment_list">
					<button id="remove_hidden" class="btn btn-link hidden">show more comment</button>
					<%= render 'comments', comments: @idea.comments %>
				</div>
				<%= render 'new_comment', comment: @comment %>
			</div>
		</div>
	</div>
</div>