<script>

$(function(){
	$("#new_comment").submit(function(e) {
		e.preventDefault();
		$.ajax({
			type: $(this).attr('method'),
			url: $(this).attr('action'),
			data: $(this).serialize(),
			dataType: "json",
			success:function(data)
			{
				$("#submit_cmment").button("reset");
				$("#comment_area").val("");
			}
		});
		$("#submit_cmment").button("loading");
	});
});
</script>


<p id="notice"><%= notice %></p>

<!-- 

<p>
  <strong>Title:</strong>
  <%= @idea.title %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @idea.destination %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @idea.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @idea.end_date %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @idea.tags %>
</p>

<p>
  <strong>User:</strong>
  <%= @idea.user_id %>
</p>

<%= link_to 'Edit', edit_idea_path(@idea) %> |
<%= link_to 'Back', ideas_path %>
-->

<div class="row">
	<div class="col-md-11">
		<div class="row">
			<div class="col-md-5 col-md-offset-4">
				<div class="panel panel-default">
					<div class="panel-body">
						<div>
							<strong><%= @idea.title %></strong>
						</div>
						<div>
							<span class="glyphicon glyphicon-calendar text-primary"> </span> <span class="text-muted"><%= @idea.start_date %> to <%= @idea.end_date %></span>
						</div>
						<dl>
							<dt>Destination</dt>
							<dd>
							<img class="staticmap" src="https://maps.googleapis.com/maps/api/staticmap?center=<%= @idea.destination %>&size=380x300&scale=2&language=en&key=AIzaSyBkui4rEH4tZbKWeTTacd9E1PyPxw9FXfM" alt="<%= @idea.destination %>"></img>
							<%= @idea.destination %>
							</dd>
						</dl>
					</div>
					<div class="panel-footer">
						<div id="comment_list">
							<%= render 'comments', comments: @idea.comments %>
						</div>
						<%= render 'new_comment', comment: @comment %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>