<!DOCTYPE html>
<html lang="en">
  <head>
	<!-- use viewport to prevent document resize for more like native mobile app -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>TravelIdea</title>
    <%= csrf_meta_tags %>
	<!-- Keep all javascript in the head because useing turbolinks -->
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	  <header>
		<%= render "common/navbar.html.erb" %>
	  </header>
	  <div class="container">
		<%= yield %>
	  </div>
  </body>
</html>
